/*BOX
  conteúdo da caixa

  Espaçamento
  Bordas
  Preenchimento
  Posionamento
  */

  body{
    background-color: mistyrose;
    color: black;
    font-family: 'gotu', sans-serif;
    margin: 0;
    }
  
    #container{
      width: 80spx;
      max-width: 980px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
    
    }
  
    #intro{
      width: 300px;
      margin-right: 20px;
    }
  
    main{
      margin: 32px 100px 0 0;
    }
  
    #buttons{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 32px;
      color: mistyrose;
    }
  
    button{
      color: indianred;
      border: none;
      font-weight: none;
      cursor: pointer;
      outline: none;
      background-color: mistyrose;
    }

    button:hover{
      text-decoration: underline;
    }    

    .fat{
      color: ivory;
      background-color: rgb(235, 189, 213);
      width: 75px;
      height: 30px;
      border-radius: 6px;
      box-shadow: 0px 8px 17px rgb(212, 124, 170);
    }

    footer{
      text-align: center;
    }

    footer a{
      color: black;
      text-decoration: underline;
      opacity: 0.7px;
    }

    footer a:hover{
      color: rgb(235, 189, 213);
      font-weight: bold;
    }

    a{
      color: rosybrown;
      font-weight: 24px;
      text-decoration: underline;
    }

    p, description{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    .idea{
      display: flex;
      background-color: #fff;
      justify-content: center;
      margin-top: 30px;
      border-radius: 20px;
      padding: 5px 5px;
      border: 2px solid lightgray;
      box-shadow: 0 4px 16px lightgray;
    }

    .idea .description{
      margin: 16px 0;
    }

    #last-ideias div img{
      height: 60px;
      width: 60px;
    }

    /*modal*/

    #modal{
      background-color: rgb(235, 189, 213);
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vw;
      display: flex;
      justify-content: center;
    }

    #modal .content{
      margin-top: 128px;
      color: lightslategrey;
    }

    #modal .content h1{
      text-align: center;
      text-transform: uppercase;
    }

    #modal form{
      width: 80%;
      max-width: 800%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .content form div:nth-child(3),
    .content form div:nth-child(4),
    .content form div:nth-child(5){
      grid-column: span 2;
    }

    .input-wrapper{
      margin: 16px 0;
    }

    form input, form textarea{
      width: 100%;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid rgb(235, 189, 213);
      outline: none;
      font-size: 16px;
      box-sizing: border-box;
    }

    form label{
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0.8px;
    }

    form a{
      background: white;
      color: rosybrown;
      width: 75px;
      height: 30px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: end;
      align-self: end;
      transition: 400ms;
      text-decoration: none;
      margin-right: 200px;
    }

    form a:hover{
      background-color: rgb(183, 223, 228);
      color: rgb(252, 249, 248);
    }

    form button{
      background: white;
      color: rosybrown;
      width: 75px;
      height: 30px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 32px;
      grid-column: 2;
      justify-self: end;
      transition: 400ms;
      font-size: 15px;
    }

    form button:hover{
      background-color: rgb(183, 223, 228);
      color: rgb(252, 249, 248);
      text-decoration: none;
    }

    #modal.hide{
      opacity: 0;
      visibility: hidden;
    }

    /*Idéia.html*/

    #page-ideias #container{
      display: block;
    }

    #page-ideias header{
      display: flex;
      justify-content: space-between;
    }
    
    #page-ideias nav{
      display: flex;
      align-items: center;
    }

    #page-ideias nav li{
      list-style-type: none;
      margin-right: 17px;
    }

    #page-ideias nav li a{
      color: black;
    }

    #page-ideias nav li:last-child{
      margin: 0;
      width: 150px;
      height: 40px;
      background-color: pink;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 9px; 
    }

    #page-ideias nav li:last-child a{
      color: whitesmoke;
      font-size: 18ssspx;
      font-weight: bolds;
    }

    #page-ideias nav li:last-child a:hover{
      background-color: rgb(183, 223, 228);
      text-decoration: none;
    }

    section#title{
      text-align: center;
      margin: 55px 0;
    }

    section#title p{
      opacity: 0.09px;
      margin: 0;
    }

    section#title h1{
      margin: 0;
      font-size: 28px;
    }

    section#last-ideias{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 23px;
      margin-left: 100px;
    }
     
    section#last-ideias .idea{
      margin: 0;
    }